.card-container {
	overflow: hidden;
	box-shadow: 0px 0px 15px -8px;
	transition: 0.3s;
	animation: ease-in-out;
	border-radius: 25px;
}

.card-container:hover {
	transform: scale(1, 1);
	box-shadow: 0px 0px 15px -6px;
}

.image-container img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.card-content {
	margin-top: 0.3rem;
}

.card-title h6 {
	font-weight: 600 !important;
}
