/* border radius for card makanan */
.rounded-08 {
	border-radius: 0.8rem !important;
}

@media (max-width: 992px) {
	.card-height {
		height: 200px;
	}
}
.card .card-makanan-img {
	border-top-left-radius: calc(0.8rem - 1px) !important;
	border-top-right-radius: calc(0.8rem - 1px) !important;
	height: 10rem;
	object-fit: cover;
}

/* homepage style */
.main-section {
	position: relative;
	background-color: rgba(6, 124, 198, 1);
}

.main-section::before {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.main-section-content {
	position: relative;
}

.mt-6 {
	margin-top: 3.5rem !important;
}
.mt-7 {
	margin-top: 4rem !important;
}
.mt-11 {
	margin-top: 6rem !important;
}

/* cursor */
.pointer {
	cursor: pointer;
}

/* image height */
.max-h-10rem {
	border-radius: 10px;
	width: 100%;
	max-height: 10rem;
	object-fit: cover;
}

.text-karbo {
	color: rgb(235, 86, 0);
}

.text-primary {
	color: #0084cd;
}

.bg-primary {
	background-color: #0084cd !important;
}

/* .calories-icon {
  color:rgb(235, 86, 0)
} */

.fa {
	font-size: 32px;
	color: #ff9800;
	background: -webkit-linear-gradient(
		#ff9800 31.4%,
		#ff6d00 66.2%,
		#f44336 97.2%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fw-semi-bold {
	font-weight: 600;
}

.text-white-8 {
	color: rgba(255, 255, 255, 0.8);
}

.text-red {
	color: #ee7b71;
}

.sup {
	top: -0.3em;
}

.fw-medium {
	font-weight: 500;
}

.dropdown-menu-center {
	right: auto;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.dropdown .btn-outline-secondary {
	color: #000;
}

.dropdown .btn-outline-secondary:focus,
.dropdown .btn-outline-secondary:hover {
	background-color: #fff !important;
	box-shadow: none;
}

.dropdown-menu .dropdown-item.active {
	background-color: #0084cd;
	border-radius: 0px !important;
}

.dropdown-menu .dropdown-item:active {
	background-color: #0084cd;
}

/* chart */
.custom-rows {
	display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	column-gap: 20px;
}
#stacked {
	grid-column: 1/-1;
	grid-row: 1;
}

#stacked1 {
	grid-column: 1 / -1;
	grid-row: 1;
	z-index: 1;
}
/* button */
.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
	box-shadow: none !important;
}

.profile-icon {
	font-size: 2.3rem;
}

@media screen and (min-width: 426px) {
	.max-h-10rem {
		max-height: 15rem;
	}
}
@media screen and (min-width: 774px) {
	.profile-icon {
		font-size: 6rem;
	}
}

.bg-profile-icon {
	background-color: #63aed8;
	border-radius: 8px !important;
}
