.container {
	/* padding: 50px; */
	font-family: poppins;
}
.box {
	background-color: #067cc6;
	color: white;
}

.header-box {
	background-color: white;
}

/* p {
	text-align: left;
}

img {
}

.two {
	margin-left: 200px;
}

.copyright {
	font-family: poppins;
	color: white;
} */
