.custom-rows {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr) !important;
	padding: 0 !important;
	background-color: blue;
	margin-left: auto !important;
	margin-right: auto !important;
}
#stacked {
	grid-column: 1/-1;
	grid-row: 1;
	/* padding: auto !important;
	margin: auto !important; */
}

#stacked1 {
	grid-column: 1 / -1;
	grid-row: 1;
	z-index: 1;
}

.custom-row-keranjang {
	display: grid !important;
	grid-template-columns: repeat(1, 1fr) !important;
	padding: auto !important;
	/* background-color: blue; */
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100%;
	height: 100%;
}
#items-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: 1;
	width: auto;
	height: 100%;
}

#items-2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: -1;
}
