#stacked {
	grid-column: 1/-1;
	grid-row: 1;
}

#stacked1 {
	grid-column: 1 / -1;
	grid-row: 1;
	z-index: 1;
}

.div1 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.custom-row {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 20px;
	column-gap: 20px;
}
.item-1 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}
.item-2 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item-3 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}
.item-4 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.main-bg {
	content: " ";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: #1aa7ec;
	background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"),
		#067cc6;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.custom-row-2 {
	display: grid !important;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 20px;
	column-gap: 20px;
}
.newitem-1 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}
.newitem-2 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}
.newitem-3 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}
.newitem-4 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
}

@media (max-width: 992px) {
	.custom-row-2 {
		display: grid !important;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 20px;
		column-gap: 20px;
	}
	.newitem-1 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.newitem-2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.newitem-3 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.newitem-4 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 2;
		grid-column-end: 3;
	}
}

@media (max-width: 576px) {
	.custom-row-2 {
		display: grid !important;
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
		column-gap: 20px;
	}
	.newitem-1 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.newitem-2 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.newitem-3 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.newitem-4 {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
/* canvas {
	height: auto !important;
	width: auto !important;
} */
